{% load static %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Welcome - Acoin Trading</title>

 <meta name="og:title" content="Trade FX and CFDs | Subscriptions & Low Trading Costs | Acoin Trading" />
  <meta name="og:type" content="Acoin Trading" />
  <meta name="og:site_name" content="Acoin Trading" />
  <meta name="og:description" content="Trade forex on MT4 or MT5 with a unique subscription model. One low monthly fee for 0 commissions, tight spreads and other exclusive benefits." />
  <meta name="twitter:title" content="Trade FX and CFDs | Subscriptions & Low Trading Costs | Acoin Trading">
  <meta name="twitter:description" content="Trade forex on MT4 or MT5 with a unique subscription model. One low monthly fee for 0 commissions, tight spreads and other exclusive benefits.">
  <meta name="twitter:card" content="summary_large_image">
  <meta prefix="og:http://ogp.me/ns#" property="og:title" content="Trade FX and CFDs | Subscriptions & Low Trading Costs | Acoin Trading" />
  <meta prefix="og:http://ogp.me/ns#" property="og:type" content="Acoin Trading" />
  <meta prefix="og:http://ogp.me/ns#" property="og:image" content="https://dqvh7oj3vu3ch.cloudfront.net/720x,q85/articles/forex-trading-account.jpg" />
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" href="https://acointrading.com/assets/home/images/favicon.png">
<link rel="stylesheet" href="{% static '/css/nice-select.css' %}">
<link rel="stylesheet" href="{% static '/css/owl.theme.default.css' %}">
<link rel="stylesheet" href="{% static '/css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static '/css/select2.min.css' %}">
<!-- Custom Stylesheet -->
<link rel="stylesheet" href="{% static '/css/style.css' %}">
