{% load static %}


  
<script src="{% static '/js/jquery.min2.2.4.js' %}"></script>
<script src="{% static '/js/select2.full.min.js' %}"></script>
<!--script src="{% static '/js/global.js' %}"></script-->
<script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
<!--script src="{% static '/js/jquery.nice-select.js' %}"></script-->
<script src="{% static '/js/owl.carousel.min.js' %}"></script>
<script src="{% static '/js/owl-carousel-init.js' %}"></script>


<script src="{% static '/js/apexcharts.min.js' %}"></script>
<script src="{% static '/js/apexchart-init.js' %}"></script>
<script src="{% static '/js/waves.min.js' %}"></script>
<script src="{% static '/js/scripts.js' %}"></script>
<!--Start of Tawk.to Script-->
<style>
    .image-bubble-close {
    width: 15px;
    height: 15px;
    float: right;
    margin: 0 2.5px;
    cursor: pointer;
    display: block;
    background-color: white;
    color: white;
    visibility: hidden;
}
    </style>
    
    <script>
        $(function () {
            $("select").select2();
            //$('select').niceSelect()
        });
    </script>


<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/60294f6a918aa261273ec6de/1euglseha';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
