{% extends "layouts/base.html" %}






{% block content %}
  
  <!--navbar-->
    {% include "com/navbar.html" %}
  <!--navbar-->
    <!--<br />-->
    <br />
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <!--<div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">Ticker Tape</span></a> by TradingView</div>-->
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js"
            async>
                {
                    "symbols": [
                        {
                            "proName": "FOREXCOM:SPXUSD",
                            "title": "S&P 500"
                        },
                        {
                            "proName": "FOREXCOM:NSXUSD",
                            "title": "Nasdaq 100"
                        },
                        {
                            "proName": "FX_IDC:EURUSD",
                            "title": "EUR/USD"
                        },
                        {
                            "proName": "BITSTAMP:BTCUSD",
                            "title": "BTC/USD"
                        },
                        {
                            "proName": "BITSTAMP:ETHUSD",
                            "title": "ETH/USD"
                        }
                    ],
                        "showSymbolLogo": true,
                            "colorTheme": "dark",
                                "isTransparent": false,
                                    "displayMode": "adaptive",
                                        "locale": "en"
                }
            </script>
    </div>
    <!-- TradingView Widget END -->
    <!-- <body>
   
       <div id="preloader">
           <div class="sk-three-bounce">
               <div class="sk-child sk-bounce1"></div>
               <div class="sk-child sk-bounce2"></div>
               <div class="sk-child sk-bounce3"></div>
           </div>
       </div> -->

    <!--    <div id="main-wrapper">
    -->
    <div class="authincation section-padding">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-xl-5 col-md-6">

                    <div class="auth-form card">
                        <div class="card-header justify-content-center">
                            <h4 class="card-title">Verify your Account</h4>
                        </div>

                        <div class="card-body">

 
                            <div class="new-account mt-3 text-center">
                                <h3>Check your mail for confirmation email</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<div class="bottom section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="bottom-logo">
                    <img class="pb-3" src="https://acointrading.com/assets/home/images/logo.png" alt="">

                    <p>Trading Bitcoin and more Cryptocurrency Assets with ease.</p>
                    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
                <div class="bottom-widget">
                    <h4 class="widget-title">Support</h4>
                    <ul>
                        <!--<li><a href="https://acointrading.com/index.php/home/about">About</a></li>-->
                        <li><a href="https://acointrading.com/index.php/home/contact">Contact</a></li>
                        <li><a href="https://acointrading.com/index.php/home/faqs">Faqs</a></li>
                        <li><a href="https://acointrading.com/index.php/home/terms">Terms & Conditions</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
                <div class="bottom-widget">
                    <h4 class="widget-title">Links</h4>
                    <ul>
                        <li><a href="https://acointrading.com/index.php/home/plans">Plans</a></li>
                        <li><a href="https://acointrading.com/index.php/home/features">Features</a></li>
                        <li><a href="https://acointrading.com/index.php/home/prices">Prices</a></li>
                        <li><a href="https://acointrading.com/index.php/home/privacy">Privacy</a></li>

                    </ul>
                </div>
            </div>



        </div>
    </div>
</div>
</div>
{% endblock content %}